{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}


  {% block body %}
  <body class="bg-dark">
    <h1 class="text-warning text-center mt-5">Hello World!</h1>
  </body>
  {% endblock %}


